.wapper {
    background-color: #181821;
    color: #a9b3bb;
    overflow: hidden;
    padding: 68px 0 40px;
}
.content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    .column-top {
        align-items: center;
        display: flex;
    }
    .top-slogan {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
    }
    .top-logo {
        border-radius: 8px;
        height: 38px;
        margin-right: 10px;
        width: 38px;
    }
    .contact-list {
        color: #a9b3bb;
        font-size: 1.4rem;
        line-height: 2.2rem;
        position: relative;
        a {
            color: #a9b3bb;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    .dmca {
        margin-top: 20px;
    }
    .heading {
        color: #fff;
        font-size: 1.8rem;
        line-height: 1.6;
        margin-top: 10px;
        text-transform: uppercase;
    }
    .list {
        padding-left: 0;
        li {
            font-size: 1.4rem;
            line-height: 2.2rem;
            margin-bottom: 8px;
            position: relative;
        }
        a {
            color: #a9b3bb;
            cursor: pointer;
            position: relative;
            transition: 0.3s ease;
        }
        a:hover {
            color: #fff;
        }
    }
    .bottom {
        align-items: baseline;
        display: flex;
        margin-top: 48px;
    }
    .copyright {
        font-size: 1.4rem;
    }
    .social-list {
        margin-left: auto;
    }
    .social-item {
        font-size: 3.2rem;
        margin-left: 16px;
    }
    .item-youtube {
        color: #eb2c3b;
    }
    .item-facebook {
        color: #4867aa;
    }
    .item-tiktok {
        color: #ccc;
    }
}
